*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --color-dark-1: #333;
}

html {
  font-size: 62.5%; /* Making 1rem = 10px */
}

@media (max-width: 1200px) {
  html {
    font-size: 56.26%; /* Making 1rem = 9px */
  }
}

@media (max-width: 900px) {
  html {
    font-size: 50%; /* Making 1rem = 8px */
  }
}
@media (min-width: 1800px) {
  html {
    font-size: 75%; /* Making 1rem = 12px */
  }
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
}
