.nav {
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 2rem;
  z-index: 3000;
}

.nav > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul li {
  display: inline-block;
  margin-left: 1.5rem;
}

.join {
  background: var(--color-primary);
  cursor: pointer;
  border-radius: 2px;
}

.join:hover {
  background-color: var(--color-secondary);
}

.btn {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}
.nav ul li.join > * {
  color: black;
}
.nav ul li > * {
  display: inline-block;
  font-size: 2.4rem;
  text-decoration: none;
  list-style: none;
  padding: 1rem 3rem;
}
